<!-- status dialog/message-bar -->
<div class="message-bar">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="alert alert-info" role="alert">
                    <div class="glyphicon glyphicon-info-sign"></div>
                    <div class="msg"></div>
                    <div class="alert-footer"><button class="btn btn-primary" data-dismiss="modal">OK</button></div>
                </div>
                <div class="modal-footer" hidden="true">

                </div>
            </div>
        </div>
    </div>
</div>