<uib-accordion close-others="oneAtATime">
    <uib-accordion-group is-open="status1.open">
        <uib-accordion-heading>
            Generated Model <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status1.open, 'glyphicon-chevron-right': !status1.open}"></i>
        </uib-accordion-heading>
        <pre>{{formAsJson}}</pre>
    </uib-accordion-group>
    <uib-accordion-group is-open="status2.open">
        <uib-accordion-heading>
            Deleted <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status2.open, 'glyphicon-chevron-right': !status2.open}"></i>
        </uib-accordion-heading>
        <pre>{{deletedItemsAsJson}}</pre>
    </uib-accordion-group>
</uib-accordion> 