<div class="formBuilder row">
     <!-- Main area with field_label and source code -->
    <div class="col-md-10">
        <div>
            <div ng-init="list=models.forms">
                <div class="dropzone box box-yellow">
                    <!-- The dropzone also uses the list template -->
                    <h3>Form x</h3>
                    <div ng-include="'views/directive-templates/dropZone/dropZone.html'"></div>
                </div>
            </div>
        </div>

        <div view-source="nested"></div>

        <h2>Generated Model</h2>
        <pre>{{modelAsJson}}</pre>
    </div>

    <!-- Sidebar -->
    <div class="col-md-2">

        <div class="toolbox box box-grey box-padding">
            <h3>New Elements</h3>
            <ul>
                <!-- The toolbox only allows to copy objects, not move it. After a new
                     element was created, dnd-copied is invoked and we generate the next id -->
                <li ng-repeat="item in models.templates"
                    dnd-draggable="item"
                    dnd-effect-allowed="copy"
                    dnd-copied="item.id = item.id + 1">
                    <button type="button" class="btn btn-default btn-lg" >{{item.display_name}}</button>
                </li>
            </ul>
        </div>

        <div ng-if="models.selected" class="box box-grey box-padding">
            <h3>Selected</h3>
            <strong>Type: </strong> {{models.selected.type}}<br>
            <input type="text" ng-model="models.selected.id" class="form-control" style="margin-top: 5px" />
        </div>

        <div class="trashcan box box-grey box-padding">
            <!-- If you use [] as referenced list, the dropped elements will be lost -->
            <h3>Trashcan</h3>
            <ul dnd-list="[]">
                <li><img src="images/trashcan.jpg"></li>
            </ul>
        </div>

    </div>
</div>

<!-- item edit dialog -->
<div class="modal fade">
    <script type="text/ng-template" id="fieldPropertiesDialog.html">
        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
            <ng-include src="'views/directive-templates/field-properties/' + item.type + '.html'"></ng-include>

            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" ng-disabled="userForm.$invalid">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </form>
</script>
</div>