<div class="formBuilder row">
    <style type="text/css">
        form.tab-form-demo .tab-pane {
            margin: 0px 0px;
        }
    </style>


    <!-- Main area with tabs and source code -->
    <div class="col-md-6">
        <div class="tab-area">
            <uib-tabset active="2"  >
                <uib-tab ng-class="tab-no-extras" ng-click="addTab($event, $index)" ng-mouseleave="myStyle0={}" ng-mouseover="myStyle0={color:'red'}" disable="true" active="false">
                    <uib-tab-heading>
                        <i class="glyphicon glyphicon glyphicon-plus" ng-style="myStyle0" ></i>
                     </uib-tab-heading>
                </uib-tab>

                <uib-tab dnd-list="list" index="{{n}}" ng-repeat="tab in models.tabs" ng-init="list=tab.controls"  >
                    <uib-tab-heading>{{tab.properties.tabLabel}} <i class="glyphicon glyphicon-pencil" ng-click="editTab($event, $index)" ng-style="myStyle1" ng-mouseleave="myStyle1={}" ng-mouseover="myStyle1={color:'red'}" ></i><i class="glyphicon glyphicon-remove-sign" ng-click="removeTab($event, $index)" ng-style="myStyle2" ng-mouseleave="myStyle2={}" ng-mouseover="myStyle2={color:'red'}"></i>
                    </uib-tab-heading>
                    <div class="dropzone box box-yellow">
                        <!-- The dropzone also uses the list template -->
                        <div ng-include="'views/directive-templates/dropZone/dropZone.html'"></div>
                        <!--<div ng-include="'dropZone.html'"></div>-->
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>

        <div view-source="nested"></div>

        <pre>{{modelAsJson}}</pre>
    </div>

    <!-- Sidebar -->
    <div class="col-md-2">

        <div class="toolbox box box-grey box-padding">
            <h3>New Elements</h3>
            <ul>
                <!-- The toolbox only allows to copy objects, not move it. After a new
                     element was created, dnd-copied is invoked and we generate the next id -->
                <li ng-repeat="item in models.templates"
                    dnd-draggable="item"
                    dnd-effect-allowed="copy"
                    dnd-copied="item.id = item.id + 1">
                    <button type="button" class="btn btn-default">{{item.display_name}}</button>
                </li>
            </ul>
        </div>

      
        <!--<div ng-if="models.selected" class="box box-grey box-padding">
            <h3>Selected</h3>
            <div ng-if="models.selected" class="box box-grey box-padding">
                <div class="field row">
                    <div class="span2">Form ID</div>
                    <div class="span4">{{ models.selected.id }}</div>
                </div>
            </div>
        </div>-->

        <div class="trashcan box box-grey box-padding">
            <!-- If you use [] as referenced list, the dropped elements will be lost -->
            <h3>Trashcan</h3>
            <ul dnd-list="[]">
                <li><img src="images/trashcan.jpg"></li>
            </ul>
        </div>

    </div>
</div>

<!-- field edit dialog -->
<div class="modal fade">
    <script type="text/ng-template" id="fieldPropertiesDialog.html">
        <ng-include src="'views/directive-templates/field-properties/' + item.type + '.html'"></ng-include>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>

<!-- field edit dialog -->
<div class="modal fade">
    <script type="text/ng-template" id="tabPropertiesDialog.html">
        <ng-include src="'views/directive-templates/field-properties/tab.html'"></ng-include>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>


