
<div class="formBuilder row">

    <!-- Sidebar -->
    <div class="col-md-2">
        <forms-short-list-directive selectedid="{{models.form.id}}"></forms-short-list-directive>
    </div>

    <!-- Main area with field_label and source code -->
    <div class="col-md-8">
        <div>
            <div ng-init="{{list=models.form.controls}}">
                <div class="dropzone box box-yellow">
                    <!-- The dropzone also uses the list template -->
                    <h3>
                        {{models.form.name}}
                        <i class="glyphicon glyphicon-save-file" title="Save form" ng-class="{selectable: models.dirty }"  ng-click="save()" ></i>
                    </h3>
                    <div ng-include="'views/includes/partials/dropZone.html'"></div>
                </div>
            </div>
        </div>
        <ng-include src="'views/includes/partials/updatedArea.html'"></ng-include>
        
    </div>

    <!-- Sidebar -->
    <div class="col-md-2">
        <toolbox-directive></toolbox-directive>
        <ng-include src="'views/includes/partials/trashCan.html'"></ng-include>
        <ng-include src="'views/includes/partials/selectedItemView.html'"></ng-include>
    </div>
</div>

<!-- status dialog/message-bar -->
<div class="vertical-alignment-helper">
    <div class="modal fade message-bar">
            <div class="modal-dialog  modal-sm">
                <div class="modal-content">
                    <div class="alert alert-info" role="alert"></div>
                </div>
                <div class="modal-footer" hidden="true"></div>
            </div>
    </div>
</div>


<!-- item edit dialog -->
<div class="modal fade">
    <script type="text/ng-template" id="fieldPropertiesDialog.html">
        <ng-include src="'views/includes/field-properties/fieldPropertiesDialog.html'"></ng-include>
    </script>
</div>
