<div class="formBuilder row">

    <!-- Sidebar -->
    <div class="col-md-2">
        <forms-short-list-directive selectedid="{{models.form.formId}}"></forms-short-list-directive>
    </div>

    <!-- Main area with field_label and source code -->
    <div class="col-md-8">

        <uib-tabset active="active">
            <uib-tab index="0" heading="Form Definition">
                <div>
                    <div>
                        <div class="dropzone box box-yellow">
                            <h3>
                                <label class="selectable-title" ng-click="editForm(event)">{{models.form.label}}</label>
                                <span class="tools">
                                    <i class="glyphicon glyphicon-save-file" title="Save form" ng-class="{selectable: models.dirty }" ng-click="save()"></i>
                                    <i class="glyphicon glyphicon-info-sign selectable" data-toggle="popover" tabindex="0" data-trigger="hover" data-placement="left" help-template="form-help-content" title="Form Area" data-html="true" data-container="body"></i>
                                </span>
                            </h3>
                            <div class="box box-small box-blue">
                                <h3 ng-dblclick="editItemDetails($event,'',models.form.rootTie);">{{models.form.rootTie.label + " (" + models.form.rootTie.tieId + ")"}}</h3>
                                <!-- The dropzone also uses the list template -->
                                <!--<dropzone-directive list="models.form.theChildren" new-id="models.newId" dirty="$scope.models.dirty" ondblclick="editItemDetails(item)"></dropzone-directive>-->
                                <div ng-repeat="list in [models.form.rootTie.theChildren]" ng-include="'views/includes/partials/dropZone.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>

            <uib-tab index="2" heading="Control Definitions">
                <div ng-controller="controlsController">
                    <div class="dropzone box box-yellow">
                        <h3>
                            <label class="selectable-title" >Controls</label>
                            <span class="tools">
                                <i class="glyphicon glyphicon-plus selectable" title="Create New Control" ng-click="newControl()"></i>
                                <i id="refreshControls" class="glyphicon glyphicon-refresh selectable" title="Refresh Controls" ng-click="refreshControls(true)"></i>
                            </span>
                        </h3>
                        <div class="tab-area" >

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>Label</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key,control) in models.controls" >
                                        <td class="col-md-1">{{control.controlId}}</td>
                                        <td>{{control.label == null ? 'control -' + control.controlId : control.label}}</td>
                                        <td>{{getItemTypeDisplayName(control.type)}}</td>
                                        <td class="col-md-1">
                                            <i class="glyphicon glyphicon-edit selectable" title="Edit Control" ng-click="editControlDetails(control)"></i>
                                            <i class="glyphicon glyphicon-trash selectable" title="Delete Control"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </uib-tab>

        </uib-tabset>

        <!--<ng-include ng-show="$storage.debug=='true'" src="'views/includes/partials/updatedArea.html'"></ng-include>-->
        <ng-include src="'views/includes/partials/updatedArea.html'"></ng-include>

    </div>

    <!-- Sidebar -->
    <div class="col-md-2">
        <toolbox-directive controls="models.controls"></toolbox-directive>
        <trashcan-directive></trashcan-directive>
        <ng-include src="'views/includes/partials/selectedItemView.html'"></ng-include>
    </div>
</div>


<!-- status dialog/message-bar -->
<ng-include src="'views/includes/partials/messagePanel.html'"></ng-include>



<!-- form area help text-->
<div id="form-help-content" class="hide">
    <div>
        <div>Creating and updating forms:</div>
        <ul id="helplist">
            <li>Drag and drop items from the Toolbox onto the form area</li>
            <li>Delete items by dragging to the Trashcan</li>
            <li>Edit items by double clicking on the item</li>
            <li>Edit form title by clicking on the item</li>
        </ul>
    </div>
</div>

