<div class="formBuilder row">

    <!-- Sidebar -->
    <div class="col-md-2">
        <forms-short-list-directive selectedid="{{models.form.id}}"></forms-short-list-directive>
    </div>

    <!-- Main area with field_label and source code -->
    <div class="col-md-8">
        
        <uib-tabset active="active">
            <uib-tab index="0" heading="Form Definition">
                <div>
                    <div>
                        <div class="dropzone box box-yellow">
                            <h3>
                                <label class="selectable-title" ng-click="editForm(event)">{{models.form.label}}</label>
                                <span class="tools">
                                    <i class="glyphicon glyphicon-save-file" title="Save form" ng-class="{selectable: models.dirty }" ng-click="save()"></i>
                                    <i class="glyphicon glyphicon-info-sign selectable" data-toggle="popover" tabindex="0" data-trigger="hover" data-placement="left" help-template="form-help-content" title="Form Area" data-html="true" data-container="body"></i>
                                 </span>
                            </h3>
                            <!-- The dropzone also uses the list template -->
                            <!--<dropzone-directive list="models.form.controls" new-id="models.newId" dirty="$scope.models.dirty" ondblclick="editItemDetails(item)"></dropzone-directive>-->
                            <div ng-repeat="list in [models.form.controls]" ng-include="'views/includes/partials/dropZone.html'"></div>
                        </div>
                    </div>
                </div>
            </uib-tab>
            
            <uib-tab index="2" heading="Control Definitions">
                <div>
                        <div class="dropzone box box-yellow">
                            <!--<h3>
                                <label class="selectable-title" >Custom Controls</label>
                            </h3>-->
                            <div class="tab-area"></div>
                        </div>
                </div>
            </uib-tab>

        </uib-tabset>

        <ng-include ng-show="$storage.debug=='true'" src="'views/includes/partials/updatedArea.html'"></ng-include>

    </div>

    <!-- Sidebar -->
    <div class="col-md-2">
        <toolbox-directive></toolbox-directive>
        <trashcan-directive></trashcan-directive>
        <ng-include src="'views/includes/partials/selectedItemView.html'"></ng-include>
    </div>
</div>


<!-- status dialog/message-bar -->
<div class="message-bar">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="alert alert-info" role="alert">
                    <div class="glyphicon glyphicon-info-sign"></div>
                    <div class="msg"></div>
                    <div class="alert-footer"><button class="btn btn-primary" data-dismiss="modal">OK</button></div>
                </div>
                <div class="modal-footer" hidden="true">

                </div>
            </div>
        </div>
    </div>
</div>


<!-- form area help text-->
<div id="form-help-content" class="hide">
    <div>
        <div>Creating and updating forms:</div>
        <ul id="helplist">
            <li>Drag and drop items from the Toolbox onto the form area</li>
            <li>Delete items by dragging to the Trashcan</li>
            <li>Edit items by double clicking on the item</li>
            <li>Edit form title by clicking on the item</li>
        </ul>
    </div>
</div>

