<div class="toolbox box box-grey box-padding">
    <h3>Forms<i id="refresh" class="selectable tools glyphicon glyphicon-refresh" title="Refresh form list" ng-click="refresh()"></i>
    </h3>

    <div class="list-group" >
        <a href="#/forms/" class="list-group-item" ng-class="{active : selectedid.indexOf('new')==0}" >-- New Form --</a>
        <a ng-repeat="form in models.forms" href="#/forms/{{form.tieId}}" class="list-group-item" ng-class="{active : form.tieId==selectedid}">{{form.label}}</a>
    </div>
</div>