<script type="text/javascript">
    $("[data-toggle=popover]").popover({
        html: true,
        content: function () {
            return $('#trashcan-help-content').html();
        }
    });
</script>

<div class="trashcan box box-grey box-padding">
    <!-- If you use [] as referenced list, the dropped elements will be lost -->
    <h3>Trashcan<i class="glyphicon glyphicon-info-sign selectable tools" data-toggle="popover" tabindex="0" data-trigger="focus" data-placement="left" title="Trashcan" data-html="true" data-container="body"></i></h3>
    <ul dnd-list="[]"
        dnd-drop="trashedCallback(event, index, item)">
        <li><img src="images/trashcan.jpg"></li>
    </ul>
</div>

<!-- form area help text-->
<div id="trashcan-help-content" class="hide">
    <div>Drag items to the Trashcan to delete them</div> 
</div>