<div class="item">
    <watermark-directive></watermark-directive>
    <div class="form-group row">
        <div>{{text1}}</div>
        <div class="tool-tip">{{text2}}</div>
        <div class="form-group">
            <label class="col-sm-2 control-label" ng-hide="!leftPrompt">{{leftPrompt.label}}</label>
            <div class="col-sm-8">
                <select>
                    <option value="" selected="selected">--Please select item--</option>
                </select>
            </div>
        </div>
    </div>
</div>
