<div class="item">
    <watermark-directive></watermark-directive>
    <div class="form-group row" ng-controller="formFieldTemplateController" ng-init="init(models.controls)">
        <div>{{text1}}</div>
        <div class="tool-tip">{{text2}}</div>
        <div class="form-group">
            <label class="col-sm-2 control-label" ng-hide="!leftPrompt">{{leftPrompt.label}}</label>
            <div class="col-sm-8">
                <label class="radio-inline" ng-repeat="option in [{value: 1, label: 'no'},{value: 2, label: 'yes'}]">
                    <input type="radio" class="radio-inline" value="{{option.value}}" ng-model="item.field_value" />
                    {{option.label}}
                </label>
            </div>
        </div>
    </div>
</div>
