<div class="item">
    <watermark-directive></watermark-directive>
    <div class="form-group row" ng-controller="formFieldTemplateController" ng-init="init(models.controls)">
        <div>{{fieldDisplayValues.text1}}</div>
        <div class="tool-tip">{{fieldDisplayValues.text2}}</div>
        <div class="form-group">
            <label class="col-sm-2 control-label" hidden></label>
            <div class="col-sm-8">
                <img src="images/camera_icon_black.jpg" class="img-thumbnail" height="30" width="30">
            </div>
        </div>
    </div>
</div>
