<div class="form-group row">
    <label class="col-sm-2 control-label input-sm">Options</label>
    <div class="form-inline" ng-repeat="option in item.field_options" >
        <ng-form name="userFieldForm">
            <span class="col-sm-2 form-control-label"></span>
            <div class="col-sm-10" ng-class="{ 'has-error' : userFieldForm.label.$invalid || userFieldForm.value.$invalid }">
                <input type="text" class="form-control input-sm col-sm-4" name="label" ng-model="option.label" required />
                <label class="form-control-static col-sm-1">=</label>
                <input type="text" class="form-control input-sm col-sm-4" name="value" ng-model="option.value" required />
                <i class="form-control-static glyphicon glyphicon-remove" ng-click="removeOption($event, $index)" ng-class="{selectable: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false"></i>
            </div>
        </ng-form>
    </div>
</div>
<div class="form-group row">
    <label for="label" class="col-sm-2 form-control-label"></label>
    <div class="col-sm-10">
        <button class="btn btn-primary input-sm" type="button" ng-click="addOption()">Add Option</button>
    </div>
</div>

