<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
    
        <div>Form ID</div>
        <div>{{ item.id }}</div>
    
        <div>Initial Value</div>
        <div>
            <input type="text"
                   ng-model="item.initialValue"
                   value="{{item.initialValue}}" />
        </div>
    <div>Field Required</div>
    <div>
        <input ng-model="item.fieldRequired" type="checkbox" ng-true-value="true" ng-false-value="false" value="{{item.fieldRequired}}" />
    </div>
 </div>
