<div class="modal-header">
    <h3 class="modal-title">Text Field</h3>
</div>
<div class="modal-body">
    <div>Form ID: {{ item.id }}</div>
    <div>Label:
        <input type="text"
               ng-model="item.field_label"
               value="{{item.field_label}}" />
    </div>
    <div>Initial Value: 
        <input type="text"
               ng-model="item.initialValue"
               value="{{item.initialValue}}" />
    </div>
    <ng-include src="'views/directive-templates/field-properties/common/commonProperties.html'"></ng-include>
    <br />
    <ng-include src="'views/directive-templates/field-properties/common/conditions.html'"></ng-include>
</div>
